.sidebar{
    width: 325px;
    padding: 25px;
    position: fixed;
    right: 0px;
    border: 1px solid black;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .user{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__name{
                margin-left: 10px;
                font-size: 15px;
            }
        }
        .switch{
            font-size: 14px;
        }
    }
}