.icon{
    width: 25px;
    cursor: pointer;
}
.add-post{
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // *{
    //     margin-top: 20px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    padding: 15px;
    .button{
        width: 140px;
        height: 35px;
        background: none;
        border: 1px solid #f09433;
        border-radius: 10px;
        cursor: pointer;
    }
    .post-button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .text-input{
        width: 90%;
        height: 10px;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 10px;
        padding: 20px;
        outline: none;
        margin-left: 5px;
        overflow:hidden;
        resize:none;
    }
    .write-post{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
    }
    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__body{
        width: 100%;
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        *{
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.increase-height{
    animation-name: increase;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.reduce-height{
    animation-name: reduce;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes increase{
    from   {height: 10px;}
    to {height: 50px;}
}
@keyframes reduce{
    from{height: 70px;}
    to{height: 10px;}
}