.stories{
    width: 580px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background: white;
    padding: 10px;
    border: 1px solid rgb(219,219,219);
}
.user-profile{
    // text-align: center;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;

    &:not(:first-child){
        margin-left: 10px;
    }
    width: 70px;
    .user-name{
        
        // overflow: hidden;
        // text-align: center;
        
        span{
            white-space: nowrap;
            text-overflow: ellipsis;
            width: calc(100%);
            display: block;
            overflow: hidden;
            font-size: 12px;
        }
    }
    .profile-pic{
        display: flex;
        justify-content: center;
    }
}

.inner-story{
    width: 444px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: yellow;
    border-radius: 10px;
    -webkit-box-align: stretch;
    position: relative;
    // flex: 0 0 1;
    img{
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}