.user-picture{
    border-radius: 50%;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.circle{
    border-radius: 50%;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
.insta-circle{
    padding: 2px;
    background: #f09433; 
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
}
.border-around-pic{
    border:2px solid white;
}
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__name{
        margin-left: 12px;
        color: black;
    }
}
a{
    text-decoration: none;
}