.user-picture{
    border-radius: 50%;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.insta-circle{
    border-radius: 50%;
    padding: 2px;
    background: #f09433; 
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
}
.border-around-pic{
    border:2px solid white;
}