.inbox{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid rgb(219,219,219);
    background: white;
    &--left{
        width: 400px;
        border-right: 1px solid rgb(219,219,219);
    }
    &--right{
        width: 100%;
        .messages-text{
            text-align: center;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
            span{
                color: gray;
            }
        }
    }
}