.user-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__info{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        height: 45px;
    }
}